<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432859678463-9f4t5m5l00fppo3q4m04qu7fseuopgug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432859678463-9f4t5m5l00fppo3q4m04qu7fseuopgug</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbnOR750lsSTCn1cHH0IBNY0zl0Q2xnA</string>
	<key>GCM_SENDER_ID</key>
	<string>432859678463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunsung-dev.TaekwonCalendar</string>
	<key>PROJECT_ID</key>
	<string>taekwoncalendar</string>
	<key>STORAGE_BUCKET</key>
	<string>taekwoncalendar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432859678463:ios:fdaf8752f0050a2c6beeca</string>
</dict>
</plist>